
*{
    box-sizing: border-box;
}

body{
    font-family: "Karla", sans-serif;
    margin: 0;
}

.header-container{
    display: flex;
    align-items: center;
    height: 65px;
    background-image: linear-gradient(to right, #672280 , #A626D3);
    color: white;
    padding: 20px;
}

.header-container > img{
 height: 100%;
 margin-right: 1%;
}

.header-container > h2{
    margin-right: auto;  
    font-size: 1.25em;
}

.header-container > h4{ 
    font-size: .75;
    font-weight: 500;
}